*{
  box-sizing: border-box !important;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
  height: 100%;
  background-color:#efefd0;
  background: #efefd0;
  overflow-x: hidden;
  overflow-y: auto;
  margin:0 auto;
}
a {
  color:teal;
}

a:hover {
  text-decoration: none;
  
}

.logo {
  position: absolute;
  top:0;
  left:0;
  color: #FFF;
  background: teal;
  text-align: right;
  padding:20px;
  padding-left: 100px;
  padding-right: 40px;
  font-size: 40px;
}

.bg-2 {
  background: #89daff;
  background-color: #DDD;
}

.bg {
    background: #efefd0;

}

.jumbotron {
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-bottom: 0;
}

.bio {
  font-size: 1.2em;
  padding: 0;
}

.caps {
  font-weight: 100;
  font-size: 4.5em;
  border: solid 1px #666;
  color: #666;
  margin: 0;
  padding: 0.15em;
}

.heading {
  font-weight: 600;
  font-size: 1.3rem;
  margin-top:70vh;
  line-height: 1.1;
  letter-spacing: 1.75px;
}

.album {
  position: relative;
  z-index:999;
}



.headshot {
  position: absolute;
  z-index:99;

}

.jumbotron p:last-child {
  margin-bottom: 0;
}


.jumbotron .container {
  max-width: 40rem;
}

.text-white {
  color: #fff;
}

.circle-box {
  background: teal;
  display: inline-block;
  
  position: relative;
  height: 70vh;
  background: teal;
  width: 90vh;
  top: 0;
  /*bottom: 0;
  left:10vh;
  display: inline-block;
  background: pink;
  */
}

.circle {
  height: 60vh;
  width: 60vh;
  background: salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1000000px;
  position: absolute;
  /*top: 20vh;*/
  bottom: -10vh;
 /* right: 15vh;*/

  left:0;

}
.about {

    bottom:0;
    position: relative;
    z-index:999;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}

footer p {
  margin-bottom: 0;
  color: teal;
}



@media (min-width: 768px) {
  .jumbotron {
    padding-top: 0;
    padding-bottom: 0;
  }


.heading {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: 1.75px;
  margin-top: 20vh;
  }

  .headshot {
    bottom: 20vh;
    right: 0;
  }

}


@media (min-width: 1060px) {

.heading-about {
  font-size: 4rem;
}
.heading {
   font-size: 5rem;

  margin-top: 30vh;
  }

  .headshot {
    bottom: 0vh;
    right: 0;
  }
}



@media (min-width: 1280px) {

.heading-about {
  font-size: 4rem;
}
.heading {
   font-size: 5rem;

  margin-top: 30vh;
  }

  .headshot {
    bottom: 30vh;
    right: 0;
  }
}
